/* body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000;
} */

.video-container {
    width: 80%;
    max-width: 800px;
}

video {
    width: 100%;
    height: auto;
    border: 2px solid #fff;
    border-radius: 8px;
}